@model IEnumerable<string> 
@inject ICitiesService citiesServiceInView
@{
    ViewBag.Title = "Home";
}
<h1>Home View</h1>
@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}
<p>cities:</p>
<ul class="list">
    @foreach(string city in Model)
    {
        <li>@city</li>
    }
</ul>
<div>@ViewBag.InstanceId_CitiesService_1</div>
<div>@ViewBag.InstanceId_CitiesService_2</div>
<div>@ViewBag.InstanceId_CitiesService_3</div>
<div>@citiesServiceInView.ServiceInstanceId</div>
@* <div class="box">
    @ViewBag.InstanceId_CitiesService_Inscope
</div> *@